@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-sora: "Sora", serif;
}
.footer-title {
  @apply text-lg font-bold opacity-100 text-center normal-case;
}
.nav-icon {
  @apply border border-gray-300 bg-white rounded-full p-2;
}
.max-w {
  @apply max-w-[1280px] mx-auto;
}
.banner-img {
  background-image: url("/src/assets/banner.jpg");
  background-repeat: no-repeat;
}
button {
  cursor: pointer;
}
